input[type="file"]{
	display: none;
}
input[type="file"] + label > .mybtn{
	width: 250px;
	text-align: center;
	font-size: 26px;
	background-color: #ccc;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.wrap{
	width: 250px;
	height: 50px;
	border: 2px solid green;
	border-radius: 5px;
}
.box{
	width: 50%;
	height: 100%;
	border-radius: 5px;
	background-color: green;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]:checked + label > .wrap{
	border: 2px solid red;
}
input[type="checkbox"]:checked + label > .wrap > .box{
	background-color: red;
	transform: translateX(100%);
}